@import url("https://jsd.liiiu.cn/gh/willow-god/Sharding-fonts/ZhuqueFangsong-Regular/result.css");

// 全局样式
* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  user-select: none;
}

html,
body,
#app {
  height: 100%;
  font-family: "Zhuque Fangsong (technical preview)", "Noto Sans SC", sans-serif;
}

// 动画
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}